doctype html 
html
    head
        title BIENVENUE ICI C l'ESGI
        
    body 
        h1 APPLICATION DE MAILING ESGI: 
        
        
       
    br
    a(href="/messages") Envoyer un message
    br
    br
    a(href="/repertoire") Répertoire