doctype html 
html
    head
        title Projet Email
        
    body 
        center
            h1 Application de mailing ESGI :
            br
        center 
            table
                tr
                    td
                        a(href="/mail") messagerie
                    td
                    td
                        a(href="/repertoire") répertoire
                    td
                    td
                        a(href="/stat") statistique

