doctype html 
html
    head
        title Projet Email
        
    body 
        center
            h1 Messagerie
            br
        center 
            table
                tr
                    td
                        a(href="/mail") nouveau mail
                    td
                    td
                        a(href="/mail") brouillon
                    td
                    td
                        a(href="/") retour