html
    head
        title Projet Email
        
    body 
        center
            h1 Messages envoyés
            - var n=0;
            table  
                tr 
                    th Liste des messages 
                
                    for data in item
                        - n++
                        tr
                            td= n
                            td 
                                a(href=`/read-messages-by-id/${data.id}`)=data.destinataire
                            td
                            td
                            td
                                a(href=`/update-messages/${data.id}`) modifier
                            td
                                a(href=`/delete-contact/${data.id}`) supprimer
        br
        center 
            table
                tr
                    td
                        a(href="/create-contact") nouveau contact
                    td
                    td
                        a(href="/") menu

