html
    head
        title BIENVENUE ICI C l'ESGI
        
    body 
        h1 Répertoire
        - var n=0;
        table  
            tr 
                th Liste des contacts: 
             
                for data in item
                    - n++
                    tr
                        td= n
                        td 
                            a(href=`/read-contact/${data.id}`)=data.mail
                        td
                            a(href=`/update-contact/${data.id}`) Update
                        td
                            a(href=`/delete-contact/${data.id}`) Delete
    br
    a(href="/create-contact") Creer un contact