doctype html 
html
    head
        title Projet Email
        
    body 
        center
            h1 Statistique
            br
        center 
                th total contacts : #{item.length}
                br
                th dernier message : 
                a(href=`/read-messages-by-id/${lastmsg[0].id}`)=lastmsg[0].content
                br
                th total messages : #{numberMsg[0].count}
                br
                br
                a(href="/") menu

